/*CSS reset settings here*/
.mainbox_blue{
 margin: 0px;
 background-color:#1b335d;
 height: 800px;
 width: 970px;
 padding-top: 20px;
 border-radius: 30px;
 padding-bottom: 20px;
}
.box_red{
 width: 880px;
 height: 50px;
 background-color:#cf2f36;
 margin: 20px;
 color: rgb(240, 240, 255);
 font-size: 32px;
 font-weight: bold;
 margin-top: 0px;
 padding: 20px;
 border-radius: 15px;
}
.box_black{
 height: 600px;
 width: 600px;
 background-color: black;
 display: inline-block;
 border-radius: 20px;
 font-size: 13px;
 vertical-align: top;
 color: rgb(240, 240, 255);
 padding-left: 5px;
}
.box_green{
 height: 300px;
 width: 300px;
 vertical-align: top;
 background-color: #2a7d8c;
 display: inline-block;
 margin: 20px;
 border-radius: 15px;
}
.box_green a{
color: #65d9e5;
}
.box_grey{
	height: 50px;
	width: 900px;
	background-color: grey;
	margin-left: 20px;
	border-radius: 10px;
	padding-left: 20px;
	padding-bottom: 0px;
	font-size: 25px;

}